.App {
    max-width: 960px;
    margin: 0 auto;
    font-size: 16px;
  }

  body {
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  ul {
    margin: 25px 0px;
    list-style: none;
  }

  ul li {
    padding: 10px 20px;
  }
  
  ul li a{
    color: #1C2F36 !important;
    text-decoration: none;

  }

  .active {
    border: 1px solid #1C2F36;
    border-radius: 5px;
    color: #fff;
  }


  .cor-layout{
    background-color: white !important;
    border: 1px solid #F5F5F5;
  }

  .cor-page{
    background-color: #F5F5F5 !important;
    border-radius: 7px;
  }
























  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .section-title {
    margin-top: 30px;
  }

  .card {
    width: calc(33% - 10px);
    margin: 20px 0;
  }
  .card-link {
    color: inherit;
    text-decoration: none;
  }
  .card-image {
    width: 100%;
  }
  .channel-image {
    border-radius: 100%;
    padding: 0, 10px, 0, 0;
    width: 40px;
    height: 40px;
  }
  .card-title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .card-channel {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  /* Tablets */
  @media (max-width: 1000px) {
    .App {
      max-width: 600px;
    }
    .card {
      width: calc(50% - 22px);
    }
  }

  /* Mobiles */
  @media (max-width: 640px) {
    .App {
      max-width: 100%;
      padding: 0 15px;
    }
    .card {
      width: 100%;
    }
  }
