:root {
    --tamanho-fonte: 16px;
    --tema: #fff;
    --temaLayout: #F5F5F5;
    --texto: #0dcaf0;
}

body{
    font-size: var(--tamanho-fonte, 16px) !important;
    color: var(--texto);
}


.App {
    max-width: 960px;
    margin: 0 auto;
    font-size: 16px;
  }

  body {
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  ul {
    margin: 25px 0px;
    list-style: none;
  }

  ul li {
    padding: 10px 20px;
  }

  ul li a{
    color:  var(--texto) !important;
    text-decoration: none;

  }

  button a {
    color: #F5F5F5 !important;
    /* color: var(--texto) !important; */
  }
  a{
    color:  var(--texto) !important;
    text-decoration: none;
    font-size: var(--tamanho-fonte, 16px) !important;
  }

  .active {
    border: 1px solid var(--texto);

    border-radius: 5px;
  }
  .pagination{

    --bs-pagination-color: black !important;
  }
  .pagination .page-item {
    margin:1px !important;
    padding: 0px ;
  }
  .pagination .active {
    --bs-pagination-active-bg: #3e4e54 !important;
    --bs-pagination-active-border-color: rgb(0, 183, 255);
    border: none;
  }

  .caixa-pesquisa{
    border: 1px solid #bfc4c7;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--tema) !important;
  }
  .caixa-pesquisa input {
    border: solid 1px #3e4e54;
  }



  .cor-layout{
    background-color:  var(--temaLayout) !important;
    color: var(--texto) !important;
    border: 1px solid #fff;
  }

  .cor-card{
    background-color:  var(--tema) !important;
    color: var(--texto) !important;

  }

  .cor-page{
    border-radius: 8px;
    background-color:  #f8f9fa !important; /* #ebeef3 */
    background-color: var(--tema) !important;
    border-radius: 0px;
    min-height: 90vh;
  }

.login-left{
  background-color: #193282;  /*#153f65   #e4e1e1f3*/
}

 .image-login {
  padding: 0;
  height: 100vh;
 }


 .footer{
  align-items: center!important;
  margin: 0;
  padding: 0;
  height: 40px;
 }

 .perfil {
    border: solid 1px #3e4e54;
    border-radius: 8px;
    padding: 35px !important;
    height: 85% ;
    display: flex;
    align-items: center !important;
 }

 .link-border{
    border: solid 1px #3e4e54;
    padding: 8px 50px;
    border-radius: 5px;
 }
 .link-border:hover{
    background-color: #F5F5F5;
 }

 /* .custom-table {
    width: 100% !important;
    display: inline-block;
  } */



















  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .section-title {
    margin-top: 30px;
  }

  .card {
    width: calc(33% - 10px);
    margin: 20px 0;
  }
  .card-link {
    color: inherit;
    text-decoration: none;
  }
  .card-image {
    width: 100%;
  }
  .channel-image {
    border-radius: 100%;
    padding: 0, 10px, 0, 0;
    width: 40px;
    height: 40px;
  }
  .card-title {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .card-channel {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  /* Tablets */
  @media (max-width: 1000px) {
    .App {
      max-width: 600px;
    }
    .card {
      width: calc(50% - 22px);
    }
  }

  /* Mobiles */
  @media (max-width: 640px) {
    .App {
      max-width: 100%;
      padding: 0 15px;
    }
    .card {
      width: 100%;
    }
  }
